
@{
    ViewBag.Title = "Início";
}

<a href="https://github.com/LuizPauloPereira/Desenvolvimento-Web-2---Rodrigo" target="_blank">Código Fonte</a>

<h2>Início-(index)</h2>

@Html.ActionLink("Listar Produtos", "Index", "Produto")
<br />
@Html.ActionLink("Listar Categorias", "Index", "Categoria")